<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <div class="favorites-page">
    <article>
    <% for(let i = 0; i < restaurants.length; i++)  { %>
        <img src="<%= restaurants[i].image %>">
        <a href="/restaurants/favorites/<%= restaurants[i]._id %> ">
        <%= restaurants[i].name %> 
        </a> 
    
        <% } %> 
    </article>
   </div> 
</body>
</html>