<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <h1 class="first-h1">Welcome</h1>
    <div class="first-page">
      
        <a href="/user/signup"><button id="first-signup">Signup</button></a>
        <a href="/user/login"><button id="first-login">Login</button></a>
      
    </div>
  </body>
</html>