<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <div id="login-h1"><h1>Sign In</h1></div>
    <main>
      <div class="login-div">
        <form id="login-form" action="/user/login" method="post">
            <label>
              USERNAME: <input type="text" name="username" required />
            </label>
            <label
              >PASSWORD: <input type="password" name="password" required />
            </label>
            <input id="logpage-button" type="submit" value="Log In" />
            </form>
            </div>
          
       
      
    </main>
  </body>
</html>