* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: grey;
}
.index-page{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px auto;

    background-image: url(https://images.unsplash.com/photo-1587015566802-5dc157c901cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGZvb2QlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
    background-color: rgba(0,0,0,.4);
          
}
.index-card{
    display: flex;
    flex-direction: column;
    /* border:solid 2px red; */
    width: 30%;
    margin:10px 0 ;
    align-items: center;
    align-self: flex-start;
    
}


.header{
    
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 15px 0 0 0;
    /* justify-content: center; */
    height: 100px;
    width: 1430px;
    /* background-color: aqua; */
    background-size: contain;
    background-image: url(https://images.unsplash.com/photo-1587015566802-5dc157c901cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGZvb2QlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
}
#header-h1{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    text-align: center;
    color: azure;
}
#restaurant-img{
    border-radius: 5px;
    /* box-shadow: 10px 10px 5px gray; */
     /* display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr); */
     
    color: aliceblue;
}
#restaurant-name{
    text-align: center;
    /* display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr); */

}
a:link {
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}
a:visited {
    color:aliceblue;
    text-decoration: none;
    text-align: center;
}
#new-button{
    margin-top: 5px;
    margin-left: 10%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#new-button:hover {
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-position: right center;
    background-color: aliceblue;
    border-color:grey ;
}
#try-button{
    margin-left: 10%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#try-button:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-color: aliceblue;
    border-color:grey ; 
}
#fav-button{
    margin-left: 10%;
    margin-bottom:  0px;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#fav-button:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-color: aliceblue;
    border-color:grey ;
}
#random-button{
    margin-left: 10%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#random-button:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-color: aliceblue;
    border-color:grey ;
}
#logout-button{
    margin-left: 10%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#logout-button:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-color: aliceblue;
    border-color: grey;
}