@media screen and (min-width: 200px) {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cormorant Garamond', serif;
    background-color: grey;
    /* background-image: url(https://images.unsplash.com/photo-1489528792647-46ec39027556?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGZhc3QlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60); */

}
h3{
    font-size: 20px;
}
.new-page{
    text-align: center;
    /* margin-top: 10%; */
    background-image: url(https://i.imgur.com/spfu7Yz.png);
    background-position: center;
    background-size: cover;
    /* margin-top: 50px; */
    height: 500px;
}
#new-h1{
    text-align: center;
}
.edit-page{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    margin-top: 20%;
    /* background-image: url(https://images.unsplash.com/photo-1489528792647-46ec39027556?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGZhc3QlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60); */
    /* /* background-size: 100%; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content:space-around;
    background-image: url(https://i.imgur.com/spfu7Yz.png);
    background-position: center;
    background-size: cover;
    justify-content: end;
    margin: 0 auto;
    height:500px;
}
#signup-page{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    margin-top: 20%;
    /* background-image: url(https://images.unsplash.com/photo-1489528792647-46ec39027556?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGZhc3QlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60); */
    /* /* background-size: 100%; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content:space-around;
    background-image: url(https://i.imgur.com/spfu7Yz.png);
    background-position: center;
    background-size: cover;
    justify-content: end;
    margin: 0 auto;
    height:500px;
    /* max-width:fit-content;
    min-width: fit-content; */
}
.first-page{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    margin-top: 20%;
    /* background-image: url(https://images.unsplash.com/photo-1489528792647-46ec39027556?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGZhc3QlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60); */
    /* /* background-size: 100%; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content:space-around;
    background-image: url(https://i.imgur.com/spfu7Yz.png);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 220px;
    height: 200px;
    /* max-width:fit-content;
    min-width: fit-content; */
}
#first-signup{
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    margin-top: 275%;
    margin-right: 2%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#first-signup:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-position: right center;
    background-color: aliceblue;
    border-color:grey ;
}
#first-login:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-position: right center;
    background-color: aliceblue;
    border-color:grey ;
}

#first-login{
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    margin-top: 315%;
    margin-right: 2%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}

.first-h1{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    background-size: contain;
    width: fit-content;
    border-radius: 8px;
    margin: 0 auto;
}
.login-div{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-image: url(https://i.imgur.com/spfu7Yz.png);
    background-position: center;
    background-size: contain;
   
    margin-top: 200px;
    margin: 0 auto;
    max-width:fit-content;
    min-width: fit-content;
    
}
#login-h1{
    /* background-image: url(https://i.imgur.com/spfu7Yz.png); */
    text-align: center;
}
#login-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 70%;
}
#logpage-button{
    background-color: rgb(163, 1, 1);
    background-size: 30px;
    margin-top: 10px;;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
    
}
.index-page{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    padding: 15px auto;
    /* max-width: fit-content;
    min-width: fit-content; */
    /* background-image: url(https://images.unsplash.com/photo-1587015566802-5dc157c901cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGZvb2QlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60); */
    background-image: url(https://i.imgur.com/spfu7Yz.png);
    /* background-image: url(https://images.unsplash.com/photo-1489528792647-46ec39027556?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGZhc3QlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60); */
    background-color: rgba(0,0,0,.4);
    background-size: cover;
    background-repeat: no-repeat;
          
}
.index-card{
    display: flex;
    flex-direction: column;
    /* border:solid 2px red; */
    
     min-width: fit-content;
    width: 30%;
    margin:10px 0 ;
    align-items: center;
    align-self: flex-start;
    
}
.show-page{
    font-family: 'Cormorant Garamond', serif;

    justify-content: center;
    text-align: center;
    /* background-image: url(https://images.unsplash.com/photo-1489528792647-46ec39027556?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTh8fGZhc3QlMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60); */
    background-image: url(https://images.unsplash.com/photo-1587015566802-5dc157c901cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGZvb2QlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
    /* background-image: url(https://i.imgur.com/spfu7Yz.png); */

    color: aliceblue;
    z-index: -1;
}
.show-image{
    margin-top: 10px;
    border-radius: 8px;
    max-width: fit-content;
    min-width: fit-content;
}  
.delete{
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
.delete:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-position: right center;
    background-color: aliceblue;
    border-color:grey ;
}
#show-edit{
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
} 
#show-edit:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-position: right center;
    background-color: aliceblue;
    border-color:grey ;
}


.header{
    
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 15px 0 0 0;
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    background-size: cover;
    background-position: center;
    
    background-repeat: no-repeat;
    /* background-image: url(https://images.unsplash.com/photo-1587015566802-5dc157c901cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDh8fGZvb2QlMjBiYWNrZ3JvdW5kc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60); */
    background-image: url(https://i.imgur.com/qOfEOVW.png);
}
#header-h1{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    text-align: center;
    color: azure;
}
#restaurant-img{
    border-radius: 5px;
    max-width: fit-content;
    min-width: fit-content;
    box-shadow: 10px 10px 5px black;
    opacity: .9;
    
     
    color: aliceblue;
}
#restaurant-name{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 30px;
    

}
a:link {
    font-family: 'Cormorant Garamond', serif;
    

    color: rgb(110, 109, 109);
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    transition-duration: 0.7s;
}
 a:link:hover{
    /* background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%); */
    /* background-position: right center; */
    /* background-color: aliceblue; */
    border-color:grey ; 
    text-decoration: underline;
    border-radius: 8px;
}
a:visited {
    color: rgb(110, 109, 109);
    text-decoration: none;
    text-align: center;
    transition-duration: 0.7s;

}
a:active{
    text-decoration: underline  ;
}
/* a:visited:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-position: right center;
    background-color: aliceblue;
    border-color:grey ;
} */
#new-button{
    margin-top: 5px;
    margin-left: 18%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#new-button:hover {
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-position: right center;
    background-color: aliceblue;
    border-color:grey ;
}
#try-button{
    margin-left: 10%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#try-button:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-color: aliceblue;
    border-color:grey ; 
}
#fav-button{
    margin-left: 10%;
    margin-bottom:  0px;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#fav-button:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-color: aliceblue;
    border-color:grey ;
}
#random-button{
    margin-left: 18%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#random-button:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-color: aliceblue;
    border-color:grey ;
}
#logout-button{
    margin-left: 18%;
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#logout-button:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-color: aliceblue;
    border-color: grey;
}
#back-button{
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    transition-duration: 0.7s;
    cursor: pointer;
}
#back-button:hover{
    background-image: linear-gradient(to right, red 10%, orange 51%, yellow 100%);
    background-color: aliceblue;
    border-color: grey;
}